<section class="col-lg-12 connectedSortable ui-sortable">

    <!--  <div class="input-group input-group-sm"><input ng-model="query"></div> -->

    <div id="loading-example" class="box box-danger" cg-busy="{tracker:'ng'}">
        <div class="box-header" style="cursor: move;">
            <!-- tools box -->
            <div class="pull-right box-tools">
                <input ng-model="query" class="input input-sm" type="text"/>
                <button title="" data-toggle="tooltip" data-widget="collapse" class="btn btn-danger btn-sm" data-original-title="Collapse"><i class="fa fa-minus"></i>
                </button>
                <button title="" data-toggle="tooltip" data-widget="remove" class="btn btn-danger btn-sm" data-original-title="Remove"><i class="fa fa-times"></i>
                </button>
            </div>
            <!-- /. tools -->
            <i class="fa fa-bars"></i>
            <h3 class="box-title">Object List <span class="badge">{{(objs| filter:query).length}}</span></h3>
        </div>
        <div class="box-body no-padding">
            <div class="list-group">
                <a class="list-group-item" ng-repeat="obj in objs| filter:query | orderBy:'name'">
                    <div class="row">
                        <div class="col-md-1 col-xs-3 col-sm-2">
                            <img ng-if="(obj.representation[obj.currentRepresentation].icon)" ng-src="{{RESTaddr}}v3/resources/{{obj.representation[obj.currentRepresentation].icon}}" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-md-10 col-xs-8 col-sm-9">
                            <h4 class="list-group-item-heading">{{obj.name}} <small class="list-group-item-text">{{obj.description}}</small></h4>
                            <p class="list-group-item-text">@{{obj.protocol}}[{{obj.phisicalAddress}}]</p>
                            <p class="list-group-item-text"><span ng-repeat="tag in obj.tags">#{{tag}} </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>